<% if (user.id == blogPost.userId) { %>
    <div id="actionsContainer">
        <form action="/blogPost/edit/<%= blogPost._id %>" method="GET">
            <input type="submit" class="editButton button-18 actionButton" value="Edit">
        </form>
        <button onclick="deletePost" class="button-18 del actionButton" id="del">Delete</button>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank"
            class="twitter-share-button"
            data-text="Hi everyone, I just published a new project on my DevDays blog. Check it out! "
            data-size="large" data-show-count="false">
            Tweet
        </a>
    </div>
<% } %>
