<% if (user.id == comment.userId) { %>
        <div data-id="<%= comment._id %>">
                <button onclick="deleteComment" class="button-18 commentDel actionButton">Delete</button>
        </div>
        <% } %>
